fastapi
uvicorn
requests
beautifulsoup4
pydantic
python-multipart
websockets
dnspython
email-validator
httpx
jinja2
lxml
markdown-it-py
mdurl
orjson
pygments
pydantic_core
rich
sniffio
starlette
typing_extensions
ujson
watchfiles
anyio
certifi
h11
httpcore
idna
charset-normalizer
colorama
click
dataclasses-json
marshmallow
mypy-extensions
python-dotenv
python-json-logger
regex
six
tqdm
typing-inspect
wcwidth
wrapt
yarl
zipp
